# HTTP libraries
requests==2.29.0

# Numbering or graphing libraries:
numpy==1.24.3
plotly==5.15.0

# Data or database libraries::
pandas==1.4.2
SQLAlchemy==1.4.46
psycopg2-binary==2.9.6

# Linting or formatting libraries:
black==23.7.0
pylint==2.17.4

# Streamlit
streamlit==1.24.1

# Google Cloud
firebase-admin==6.2.0
google-cloud-core==2.3.2
google-cloud-firestore==2.11.0
